.ProfileMainContainer{
  /* width: 90%; */
  background-color: #e6e6e8;
  margin: auto;
}

.editAddress input{
  border: 1px black solid;
}

.editAddress{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
}
.editAddressContainer{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
}

.addressContainer{
  border: 1px blue solid;
}

.basicInfoContainer{
  /* border: 2px solid #300032; */
  background-color: #300032;
  color: white;
  display: flex;
  flex-direction: column;
  
}

.picInfoContainer{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
  align-content: center;
  font-family: 'Dosis';
  font-size:18px;
}

.btnContainer{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;
  margin:10px;
  /* margin-right:10px; */
  /* padding-right:10px; */
}

.btnContainer > button{
  margin-left:10px;
  flex:1 1 20%;
  width:20%;
}

.basicInfoPic{
  margin: 5px;
  width: 110px;
}

.basicInfoText{
  display: flex;
  flex-direction: column;
}

.notificationsContainer{
}

.notification{
  /* display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between; */
	/* align-items: center; */
  /* align-content: center; */
  width:100vw;
}

.notificationTab{
  background-color: #BC2C2F;
  /* margin-bottom: 5px; */
  /* padding: 3px 0px; */
  /* width: 100%; */
  /* margin: auto; */
}

.locationTab{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
  background-color: #BC2C2F;
  color: white;
}

.singleAddressContainer{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);  
}

.singleAddressTab{
  background-color: #fdfdfd;  
  padding-left: 5px;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
  border: 1px #BC2C2F solid;
}

.addressLabelText{
}
.editAddress input{
  padding:7px;
}

.addressButtonContainer{
  display: flex;
  flex-direction: row;
  width: 30%;
}

.editAddressButtonContainer{
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: auto;
}

.notificationLabel{
  /* width: 60%; */
  margin: auto;
  position: sticky;
}

.singleAddressLabel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.requestContainer{
  background-color: #300032;
  color: white;
  display: flex;
  flex-direction: row;
  animation: requestContainerAni 1s;
  animation-fill-mode: forwards;
  overflow: hidden;
  margin-bottom: 5px;
  border: 2px solid #BC2C2F;
}

@keyframes requestContainerAni{
  from{margin-right:300px}
  to{margin-right:0px}

}

.requestInfoContainer{
  margin: auto;
}

.friendsOff{
  display: none;
}

.groupsOff{
  display: none;
}

.eventsOff{
  display: none;
}

.addressOff{
  display: none;
}

.locationsOff{
  display: none;
}
.addAddressOff{
  display: none;
}
.editAddressOff{
  display: none;
}

.approveButton{
  color: white;
  border: 1px white solid;
  background-color: green;
}

.declineButton{
  color: white;
  border: 1px white solid;
  background-color: red;
}

.locationLabel{
  padding-left: 20px;
}