.newButton {
    display: inline-block;
    position: relative;
    left: 30%;
    height: 3rem;
    border-radius: 5px;
    font-size: 24px;
    background-color: #C43235;
    color: white;
}

.addToFriendsButton{
    background-color: #C43235;
    color: white;
    border: 1px;
    height: 3rem;
    position: relative;
    left: 35%;
    width: 40%;
    top: -5.5rem;
    border-radius: 5px;
}

.DeleteButton{
    background-color: #C43235;
    color: white;
    border: 1px;
    border-radius: 5px;
}

.search_button {
    /* border: 3px solid red; */
    border: 1px;
    color: white;
    height: 3.6rem;
    width: 31%;
    background-color: #C43235;
    position: fixed;
    left: 68%;
    z-index: 20;
}


/* how are we going to handle friend requests
i need to know so I can start working on that code. */


/* change user table to add column friends Array */

/*  */


/* make Notifications table withs columns: notification_auto_id, to, from, type{group friend event}, type_id */

/* thinking about changing button file names to FunctionalButton and LinkButton for dryer code 
potential use: 
<FunctnlBttn label="SAVE GROUP"  FunctnlButtonFunctionProp={this.postGroup} class={"post-event-button"}/> */