.newButton {
    display: inline-block;
    position: relative;
    left: 30%;
    height: 3rem;
    border-radius: 5px;
    font-size: 24px;
    background-color: #C43235;
    color: white;
}

.addToFriendsButton{
    background-color: #e6e6e8;
    color: #300032;
    border: 1px;
    height: 3rem;
    position: relative;
    left: 35%;
    width: 40%;
    top: -5.5rem;
    border-radius: 5px;
}

@media(max-width: 770px){
    .addToFriendsButton{
        left: 10%;
        top: -3rem;
    }
}

.DeleteButton{

    background-color: #C43235;
    color: white;
    border: 1px;
    border-radius: 5px;
}

.search_button {
    /* border: 3px solid red; */
    border: 1px;
    color: white;
    height: 3.35rem;
    width: 35%;
    background-color: #490C4C;
    position: sticky;
    top:200px;
    /* top: 89.7vh; */
    left: 66.4%;
    z-index: 20;
}


.show_user{
    text-align: center;
    width: 50%;
    height: 3rem;
    border-radius: 5px;
    position: relative;
    left: 25%;
    background-color: #C43235;
    color: white;
}

@media(min-width: 1000px){
    
}


/* how are we going to handle friend requests
i need to know so I can start working on that code. */


/* change user table to add column friends Array */

/*  */


/* make Notifications table withs columns: notification_auto_id, to, from, type{group friend event}, type_id */

/* thinking about changing button file names to FunctionalButton and LinkButton for dryer code 
potential use: 
<FunctnlBttn label="SAVE GROUP"  FunctnlButtonFunctionProp={this.postGroup} class={"post-event-button"}/> */







