.header-parent-div {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    height: 4rem;
    width: 100%;
}

.pageTitle {
    display: inline-block;
    position: absolute;
    top: -1rem;
    left: 39%;
}

/* media query adjusts title at different screen widths */

@media(min-width: 1000px){
    .pageTitle {
        left: 48%;
    }
}