.header-parent-div {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    height: 7rem;
    width: 100%;
}

.pageTitle {
    display: inline-block;
    position: absolute;
    left: 45%;
}