.nav_parent_div     {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-between;
    position: fixed;
    z-index: 11;
    width: 99.7%;
    bottom: 0;
}

.nav_parent_div > *{
    flex:1;
}

.nav_parent_div a{
    text-decoration: none;
}

.nav_Link_Li    {
    background-color: #C43235;
    border-left: 0.5px solid gray;
    border-right: 0.5px solid gray;
    border-top: 1px solid gray;
    border-radius: 5px;
    /*if there is something underneath the nav bar it will show in the gaps*/
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0 auto;
    position: relative;
    /* width: 13rem; */
    text-align: center;
    color: white;
   
}

.nav_Link_Li:active {
    background-color: black;
    color: white;
}

.nav_Link_Li:hover {
    cursor: pointer;
}
/* below is for styling color of calendar icon */

.nav_Link_Li  img{
    max-width: 100%;
    height: 2.4rem;
    margin: 0 auto;
}

.nav_Link_Li h5{
    /* border: 2px solid black; */
    margin: 0 auto;
}

@media(min-width: 780px){
    
    .nav_Link_Li {
        width: 100%;
    }

}