.App {
    /* position: fixed;
    top:0; */
    box-sizing: border-box;
    height:100vh;
    background-color:#E53E4F !important;
}

html,body{
    overflow: hidden;
    height:100vh;
}
/*Just removing default browser padding/margin*/
.nav_parent_div     {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-between;
    position: fixed;
    z-index: 11;
    width: 99.7%;
    bottom: 0;
}
.navImages {
    max-width: 100%;
    height: 2.4rem;
    margin: 0 auto;
    position: relative;
    top: 5px;
}

.navText{
    margin: 0 auto;
    position: relative;
    top: 7px;
}

.navBtn{
    height:10vh;
    /* ////////////////// */
    background-color: #490C4C;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-radius: 5px;
    /*if there is something underneath the nav bar it will show in the gaps*/
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0 auto;
    position: relative;
    /* height: 4.5rem; */
    width: 13rem;
    /* text-align: center; */
    color: white;
   
}

.redNav{
    background-color:#E53E4F !important;
    outline:solid white 3px;

    /* background-size:100% 100%; */
    animation: redNavAni .3s linear forwards;
}

@keyframes redNavAni{
    from{background-color:white;}
    to{background-color:#E53E4F}
}


/* GROUPS */
.mainGroupDetailsContainer{
    background-color:#E53E4F;
}

.mainGroupContainer{
    background-color:#E53E4F;
    height:100vh;
    overflow: hidden;
    /* border:solid black 1px; */
}

.halfContainer{
    height:90vh;
    /* overflow:hidden; */
    /* border:solid black 1px; */

}

#userGroups{
    position: absolute;
    top:0px;
    width:100vw;
    /* z-index: 100; */
    border:none;
    background-color:#E53E4F;
    /* border-bottom:solid #E53E4F 4px; */
}

#otherGroups{
    /* position:sticky; */
    background-color:#490C4C;
    padding:1px;
    z-index:200 !important;
    width:100vw;
    display:inline-block;
    /* border-bottom:solid rgb(123, 33, 128) 4px; */
}

#otherGroups > *{
    margin-left:10px;
}

@keyframes otherGroupsAni{
    from{background-color:#E53E4F}
    to{ background-color:#490C4C;}
}


.header{
    font-family: 'Dosis';
    font-weight: bold;
    background-color:black;
    /* height:5vh; */
    color:white;
    /* border:solid transparent 1px; */
    margin:0;
    padding:0;
    z-index:100 !important;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
    /* border-bottom:solid #E53E4F 4px; */
}

.purple{
    background-color:#490C4C !important;
    color:white;

}

.header > p{
    margin-left:5px;
}




.scrollableContainer{
    overflow:scroll;
    height:85vh;
    margin-right:-17px;
}
#groupScrollableContainer{
    padding-top:54px;
    padding-bottom:54px !important;
    /* z-index: 20; */
    /* padding-bottom:30vh; */
}


.groupContainer{
    /* margin-top:-10p */
    background-color:#E53E4F;
    margin-bottom:1px;
}

.groupContainerFlex{
    width:90vw;
    background-color:#e6e6e8;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-end;
    /* padding:10px; */
    padding:5px 20px;
    animation: groupContainerAni .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    /* width:100vw !important; */
    margin-bottom:1px;
    will-change: transform;
}



.rightAni{
    /* margin-top:-10px; */
    /* margin-bottom:-17px; */
    animation: rightAni .5s;
    animation-timing-function: linear alternate infinite;
    animation-fill-mode: forwards;
}
@keyframes rightAni{
    from{transform:translateX(100%);margin-bottom:-17px;}
    to{transform:translateX(0%);display:block;margin-bottom:1px;}
}

@keyframes groupContainerAni{
    from{transform:translateX(-100%);display:none;}
    to{transform:translateX(0%);display:block;}
}

.groupDetails ,.groupMemberContainerRight{
    /* opacity: 0; */
    height:100%;
    background-color:#E53E4F;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: center;
    width:100vw;
    /* animation: groupDetailsAni 1s; */
    /* animation-fill-mode: forwards; */
}

@keyframes groupDetailsAni{
    0%{opacity: 0;}
    90%{opacity: 0;}
    100%{opacity: 1;}
}

.groupPicture{
    border-radius:50%;
    width:60px;
}

button{
    /* display: inline; */
    /* margin:10px; */
    padding:5px 40px;
    border:none;
    flex: 0 0;
    font-family: 'Dosis';
    border-radius: 10px;
}

.containerForBtn{
    padding:0;

}


.leftContainer{
    
}

.groupTitle{
    font-family: 'Dosis';
    font-family: bold;
}

.groupPurpose{
    font-family: 'Open Sans';
    font-size:10px;
}

.leftContainer{

}

.rightContainer{

}

.groupPicture{

}
